body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    background: linear-gradient(to bottom, #33ccff 0%, #ff9966 100%);
    
}

#inputValue{
    align-items: center;
}

#frontBlock{ 
    width: auto;   
    float: right;
    width: auto;
    margin: auto;
    padding: 20px;    
  
    
}

#frontSideBar{
    float: left;
   
    margin: auto;
    padding: 20px;
    width:auto;
    
     
}

.button {
    margin:5px;
    align-self: center;
    background-color: turquoise;
    color: whitesmoke;
    
}

.hero{
    font-size:x-large ;
    text-align: center;
    
    color: whitesmoke;
}
.topsearchbar{
    padding: 20px;
    text-size-adjust: large;
}
.container{
    display: flex;
    align-items: center;
}
.box{
    position: relative;
    background: rgba(0, 0, 0, .1);
    margin:auto;

}

.input{
    background: rgba(0, 0, 0, .1);
}


.inputValue{
    background: rgba(240, 221, 221, 0.5);
    color: black;
    height: 40px;
    border-radius: 5px;
    

}
#whiskeyDiv{
    font-size: auto;
    text-align: center;
}
#tequilaDiv {
    font-size: auto;
    text-align: center;
}


body {

    background-color: #121d82;

    background-color: lightsalmon;

}
#vodkaDiv {
    font-size: auto;
    text-align: center;
}
#ginDiv {
    font-size: auto;
    text-align: center;
}
#rumDiv {
    font-size: auto;
    text-align: center;
}


.navbar-item{
    background-color:hsl(171, 100%, 41%);    
    color: whitesmoke;
        
}
.navbar-link{
    background-color:hsl(171, 100%, 41%);    
    color: whitesmoke;     
}

#foodDiv h2 {
    font-size: larger;
    font-weight: bold;
}

#drinkDiv h2 {
    font-size: larger;
    font-weight: bold;
}
#foodDiv p {
    font-weight: bold;
}

#drinkDiv p {
    font-weight: bold;
}

#cat {
    font-weight: bold;
    font-size: larger;
    text-align: left;
}

#drinkDiv2 h2 {
    font-size: larger;
    font-weight: bold;
}

#drinkDiv2 p {
    font-weight: bold;
}

#drinkDiv3 h2 {
    font-size: larger;
    font-weight: bold;
}

#drinkDiv3 p {
    font-weight: bold;
}

#drinkDiv4 h2 {
    font-size: larger;
    font-weight: bold;
}

#drinkDiv4 p {
    font-weight: bold;
}

#drinkDiv5 h2 {
    font-size: larger;
    font-weight: bold;
}

#drinkDiv5 p {
    font-weight: bold;
}
/* this is greened out for the size and scaling issue we had had with images, keeping it for possible future use
.navbar-dropdown{
    background-color:hsl(171, 100%, 41%);    
    color: whitesmoke;
        
} 


.imgA{
    height: 150px;
    widows: 200px;;
   }
   .imgB{
       height: 225px;
       width:180px;
      }
   .imgC{
       height: 200px;
       width: 200px
   }
   .center{
       text-align: center;
   }

